<footer class="footer">
  <h3>Tienda</h3>
  <ul>
    <li><a href="https://adalab.es/" class="links-1">Productos</a></li>
    <li><a href="https://adalab.es/" class="links-1">Cajoneras</a></li>
    <li><a href="https://adalab.es/" class="links-1">Para toda la casa</a></li>
    <li><a href="https://adalab.es/" class="links-1">Habitaciones</a></li>
  </ul>
  <h3>Nosotros</h3>
  <ul>
    <li><a href="https://adalab.es/" class="links-1">Nuestra Guía</a></li>
    <li><a href="https://adalab.es/" class="links-1">Nuestro diseño</a></li>
    <li><a href="https://adalab.es/" class="links-1">Nuestra historia</a></li>
    <li><a href="https://adalab.es/" class="links-1">Ayuda</a></li>
  </ul>
  <h3>Contacto</h3>
  <ul class="links">
    <li><a>ayuda@openspaces.com</a></li>
    <li><a href="https://adalab.es/" class="links-1">Socios</a></li>
  </ul>
  <a href="./assets/images/linkedin.png" class="links-1"></a>
  <ul>
    <li><a href="./assets/images/linkedin.png" class=""></a></li>
    <li><a href="./assets/images/instagram.png" class="links-1"></a></li>
    <li><a href="./assets/images/twitter.png" class="links-1"></a></li>
  </ul>
</footer>
