<footer class="footer">
  <section class="container">
    <h3 class="title-2">Tienda</h3>
    <nav>
      <ul class="list">
        <li><a href="https://adalab.es/" class="link">Productos</a></li>
        <li><a href="https://adalab.es/" class="link">Cajoneras</a></li>
        <li>
          <a href="https://adalab.es/" class="link">Para toda la casa</a>
        </li>
        <li><a href="https://adalab.es/" class="link">Habitaciones</a></li>
      </ul>
    </nav>

    <h3 class="title-2">Nosotros</h3>

    <nav>
      <ul class="list">
        <li><a href="https://adalab.es/" class="link">Nuestra Guía</a></li>
        <li><a href="https://adalab.es/" class="link">Nuestro diseño</a></li>
        <li><a href="https://adalab.es/" class="link">Nuestra historia</a></li>
        <li><a href="https://adalab.es/" class="link">Ayuda</a></li>
      </ul>
    </nav>

    <h3 class="title-2">Contacto</h3>
    <nav>
      <ul class="list">
        <li><a class="link">ayuda@openspaces.com</a></li>
        <li><a href="https://adalab.es/" class="link">Socios</a></li>
      </ul>
    
      <ul class="list-icon">
        <li class="icon"><i class="fa-brands fa-linkedin-in"></i></li>
        <li class="icon"><i class="fa-brands fa-instagram"></i></li>
        <li class="icon"><i class="fa-brands fa-twitter"></i></li>
      </ul>
    
  </section>
  <a href="./index.html" class="arrow"
    ><img src="./assets/images/arrow.png" alt="arrow"
  /></a>
</footer>
