<footer class="footer">
  <h3>Tienda</h3>
  <ul>
    <li><a href="https://adalab.es/" class="links-1">Productos</a></li>
    <li><a href="https://adalab.es/" class="links-1">Cajoneras</a></li>
    <li><a href="https://adalab.es/" class="links-1">Para toda la casa</a></li>
    <li><a href="https://adalab.es/" class="links-1">Habitaciones</a></li>
  </ul>
  <h3>Nosotros</h3>
  <ul>
    <li><a href="https://adalab.es/" class="links-1">Nuestra Guía</a></li>
    <li><a href="https://adalab.es/" class="links-1">Nuestro diseño</a></li>
    <li><a href="https://adalab.es/" class="links-1">Nuestra historia</a></li>
    <li><a href="https://adalab.es/" class="links-1">Ayuda</a></li>
  </ul>
  <h3>Contacto</h3>
  <ul class="links">
    <li><a>ayuda@openspaces.com</a></li>
    <li><a href="https://adalab.es/" class="links-1">Socios</a></li>
  </ul>

  <ul class="links">
    <li>
      <a href="https://www.linkedin.com/feed/" class="links-1"
        ><img src="./assets/images/linkedin.png" class="social"
      /></a>
    </li>
    <li>
      <a href="https://www.instagram.com/?hl=es" class="links-1"
        ><img src="./assets/images/instagram.png" class="social"
      /></a>
    </li>
    <li>
      <a href="https://twitter.com/?lang=es" class="links-1"
        ><img src="./assets/images/twitter.png" class="social"
      /></a>
    </li>
  </ul>
</footer>
