<header class="header">
  <nav>
    <ul class="dropdown">
      <li>Productos</li>
      <li>Colecciones</li>
      <li>Tienda</li>
      <li>Inicio</li>
    </ul>
  </nav>

  <a href="https://adalab.es/"
    ><img src="./assets/images/hamburger.png" alt="menu" class="hamburguer"
  /></a>
  <nav class="menu">
    <img src="./assets/images/logo.png" alt="logo" class="logo" />
  </nav>

  <section class="section">
    <h1 class="spaces">Disfruta creando espacios</h1>
    <span>
      <a href="https://adalab.es/" class="button">comprar ahora</a>
    </span>
  </section>
</header>
