<section class="shopping">
  <h2>Volverse organizado se siente mejor con open spaces</h2>
  <article>
    <img src="./assets/images/icon_1.png" alt="plants" class="plants" />
    <h3 class="title-2">Lo que necesitas</h3>
    <p class="paragraphs-1">
      Una linea de productos diseñados para todos tus espacios
    </p>
  </article>
  <article>
    <img src="./assets/images/icon_2.png" alt="paperbag" class="paper bag" />
    <h3 class="title-2">Materias primas sustentables</h3>
    <p class="paragraph-1">
      Todos los productos son con materias primas sustentables
    </p>
  </article>
  <article>
    <img src="./assets/images/icon_3.png" alt="Guide" class="guide" />
    <h3 class="title-2">Guía</h3>
    <p class="paragraphs-1">
      Soporte y asesoramiento para ayudate con tu objetivo
    </p>
  </article>
</section>
