<section class="sent">
  <article>
    <img src="./assets/images/car.png" alt="car" class="car" />
    <h3 class="title-1">Envío gratis garantizado</h3>
    <p class="paragraphs-2">Envío gratis en compras desde 100</p>
    <a href="https://adalab.es/" class="buy">Comprar ahora</a>
  </article>
</section>

<section class="enjoy">
  <article>
    <h3 class="title-1">Disfruta creando espacios</h3>
    <p class="paragraphs-2">
      Una línea de productos diseñados para todos tus espacios
    </p>
    <button href="https://adalab.es/" class="button">comprar ahora</button>
  </article>
</section>

<section class="bathroom"></section>
