<section class="sent">
  <img src="./assets/images/car.png" alt="car" class="car" />
  <h3 class="title-1">Envío gratis garantizado</h3>
  <p class="paragraphs-2">Envío gratis en compras desde 100</p>
  <a href="https://adalab.es/" class="buy">Comprar ahora</a>
</section>

<div class="web">
  <!--dejo este div para poder dar estilos-->
  <section class="enjoy">
    <h3 class="title-1" class="title-desktop">Disfruta creando espacios</h3>
    <p class="paragraphs-2" class="paragraphs-desktop">
      Una línea de productos diseñados para todos tus espacios
    </p>
    <span>
      <a href="https://adalab.es/" class="button-1">comprar ahora</a>
    </span>
  </section>

  <section class="bathroom"></section>
</div>
