.footer {
  background-color: $blue-turquoise;
  text-align: center;
  text-decoration: none;
}

.links {
  text-decoration: none;
  text-decoration-color: $green-grey;
  text-align: center;
}

.links-1 {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: $white;
}

/*dar padding top a los titulos de cada lista para separarlos*/
