.footer {
  background-color: $blue-turquoise;
  padding: 46px 28px 16px 146px;
}

.container {
  color: $green-grey;
  margin-bottom: -40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list {
  list-style: none;
}

.link {
  font-size: 0.875rem;
  color: $green-grey;
  text-decoration: none;
}

.title-2 {
  padding-bottom: 12px;
  font-size: 1.25rem;
}

.list-icon {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.icon {
  padding-top: 15px;
  padding-right: 10px;
}

.arrow {
  display: flex;
  justify-content: flex-end;
}

@media all and (min-width: 900px) {
}
