.sent {
  padding: 46px 51px;
  background-color: $orange;
  text-align: center;
  color: #ffffff;
  gap: 20px;
}

.title-1 {
  font-size: 1.5rem;
}

.paragraphs-2 {
  font-size: 0.875rem;
  padding: 11px 16px 35px 16px;
}

.buy {
  padding: 20px;
  color: $white;
  text-transform: initial;
}

.enjoy {
  padding: 87px 27px 92px;
  background-color: #f0ebe5;
  color: #0c474b;
  text-align: center;
}

.button-1 {
  background-color: $blue-turquoise;
  color: $white;
  font-size: 1rem;
  text-transform: initial;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  transition: background-color 1s;
}

.button-1:hover {
  background-color: rgb(243, 180, 155);
  cursor: pointer;
}
.bathroom {
  height: 304px;
  background-image: url(../images/bathroom.jpg);
  background-position: center;
  background-size: cover;
}

@media all and (mind-widht: 900px) {

  
  .bathroom {
    height: 474px;
    background-position-x: -3px;
    background-position-y: -115px;
  }
}

@media all and (min-width: 1728px) {
  .sent {
    padding: 61px 437px 78px 492px;
  }
  .web {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .title-desktop {
    padding: 56px;
    margin: -19px 18px -42px 177px;
    text-align: start;
  }

  .paragraphs-desktop {
    padding: 50px 37px 31px 177px;
    padding: -6px 45px 19px 78px;
    text-align: start;
  }

  .button-1 {
    margin-left: 40px;
  }
}
