.title {
  font-size: 1.5rem;
}

.open {
  text-transform: uppercase;
}

.title-2 {
  font-size: 1.25rem;
  padding-top: 20px;
}

.paragraphs-1 {
  font-size: 1rem;
  padding: 10px 50px 0 50px;
}

.article {
  padding: 25px 25px;
}

.shopping {
  padding: 41px 47px 18px 45px;
  background-color: $beige;
  text-align: center;
}

.icon {
  height: 80px;
  margin: 15px 0 15px 0;
  color: $green-grey;
}

@media all and (min-width: 900px) {
  .p {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .paragraphs-1 {
    padding: 0;
  }

  .bathroom {
    height: 474px;
    background-position-x: -3px;
    background-position-y: -115px;
  }
}

@media all and (min-width: 1728px) {
  .shopping {
    padding: 80px 220px 115px 220px;
  }

  .title {
    font-size: 2.25rem;
    padding: 3px 250px 10px 250px;
  }

  .title-2 {
    font-size: 1.25rem;
  }

  .paragraphs-1 {
    padding: 2px 6px 6px 1px;
  }
}
