.title-2 {
  font-size: 1.25rem;
}

.paragraphs-1 {
  font-size: 1rem;
}

.shopping {
  background-color: $beige;
  text-align: center;
}

.plants {
  width: 90px;
  height: 99px;
  color: $green-grey;
}

.paperbag {
  width: 90px;
  height: 90px;
  color: $green-grey;
}

.guide {
  width: 90px;
  height: 73.5px;
  color: $green-grey;
}
