.title {
  font-size: 1.5rem;
}

.title-2 {
  font-size: 1.25rem;
  padding-top: 20px;
}

.paragraphs-1 {
  font-size: 1rem;
  padding: 10px 50px 0 50px;
}

.article {
  padding: 25px 25px;
}

.shopping {
  padding: 41px 47px 18px 45px;
  background-color: $beige;
  text-align: center;
}

.icon {
  height: 80px;
  margin: 15px 0 15px 0;
  color: $green-grey;
}
