.title-1 {
  font-size: 1.5rem;
}

.paragraphs-2 {
  font-size: 0.875rem;
  padding: 10px;
}

.sent {
  padding: 46px 51px;
  background-color: $orange;
  text-align: center;
  color: #ffffff;
  gap: 20px;
}

.enjoy {
  padding: 87px 27px 92px;
  background-color: #f0ebe5;
  color: #0c474b;
  text-align: center;
}
.bathroom {
  background-image: url(../images/bathroom.jpg);
  background-position: center;
  background-size: cover;
  height: 304px;
}

.buy {
  width: 176px;
  height: 48px;
  padding: 20px;
  color: $white;
  text-decoration: none;
}
