.title-1 {
  font-size: 1.5rem;
}

.paragraphs-2 {
  font-size: 0.875rem;
  padding: 11px 16px 35px 16px;
}

.sent {
  padding: 46px 51px;
  background-color: $orange;
  text-align: center;
  color: #ffffff;
  gap: 20px;
}

.enjoy {
  padding: 87px 27px 92px;
  background-color: #f0ebe5;
  color: #0c474b;
  text-align: center;
}
.bathroom {
  background-image: url(../images/bathroom.jpg);
  background-position: center;
  background-size: cover;
}

.buy {
  padding: 20px;
  color: $white;
}

.button-1 {
  background-color: $blue-turquoise;
  transition: background-color ease 1s;
  color: $white;
  font-size: 1rem;
  padding: 10px 30px 10px 30px;
  text-decoration: none;

  .button-1:hover {
    background-color: rgb(45, 21, 53);
  }

  /*mirar esta transición*/
}

@media all and (min-width: 1728px) {
  .web {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sent {
    padding: 61px 437px 78px 492px;
  }

  .enjoy {
    padding: 150px 207px 153px 150px;

    /*revisar*/
  }
}
